#exportPattern("^[[:alpha:]]+")

importFrom(RCurl,
           getURL)

importFrom(XML,

           htmlParse, getNodeSet, xmlSApply)

export(noaa, 
       HL,
       HL.plot,
       fld.dur,
       fld.frq,
       harcon,
       number.tides,
       noaa,
       noaa_datums,
       vuln.kit)

### Local variables:
### mode: R
### End:
